@import 'style.css';
@import 'navbar.css';
@import 'localisation.css';
@import 'image.css';

.accueil{
    background-image: url(../../img/paysage/chateau1.jpg);
    position: relative;
    top: 100px;
    font-size: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    text-shadow: rgb(0, 0, 0) 2px 0 10px;
    padding: 150px 0;
    width: 100%;
    opacity: 0.9;
}
